name: release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - uses: actions/setup-node@v5
        with:
          node-version: 20
          cache: pnpm

      - name: Install system deps (rpm)
        run: |
          sudo apt-get update -y
          sudo apt-get install --no-install-recommends -y rpm

      - name: Install deps
        run: pnpm install --frozen-lockfile

      - name: Build package for Linux
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: pnpm run build -- --publish onTag
